.wrapper{
    position: relative;
    width: 420px;
    height: 450px;
    background: rgb(144, 130, 239);
    border-radius: 40px;
    color: #fff;
}
.wrapper .form-box{
    width: 100%;
    padding: 40px;
}
.form h1{
    font-size: 36px;
    text-align: center;
}